In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
df = pd.read_csv(r"C:\Users\91701\OneDrive\Desktop\CETPA ML\Data Sets/Salary.csv")

In [3]:
df

   experience  test_score  interview_score  salary
0         NaN         8.0                9   50000
1         NaN         8.0                6   45000
2         5.0         6.0                7   60000
3         2.0        10.0               10   65000
4         7.0         9.0                6   70000
5         3.0         7.0               10   62000
6        10.0         NaN                7   72000
7        11.0         7.0                8   80000

In [6]:
df.test_score.median()

8.0

In [7]:
#Second method to find the median
import math
median_test_score = math.floor(df.test_score.median())
median_test_score

8

In [8]:
df.test_score = df.test_score.fillna(median_test_score)

In [9]:
df

   experience  test_score  interview_score  salary
0         NaN         8.0                9   50000
1         NaN         8.0                6   45000
2         5.0         6.0                7   60000
3         2.0        10.0               10   65000
4         7.0         9.0                6   70000
5         3.0         7.0               10   62000
6        10.0         8.0                7   72000
7        11.0         7.0                8   80000

In [10]:
df.experience.median()

6.0

In [11]:
df.experience = df.experience.fillna(df.experience.median())

In [12]:
df

   experience  test_score  interview_score  salary
0         6.0         8.0                9   50000
1         6.0         8.0                6   45000
2         5.0         6.0                7   60000
3         2.0        10.0               10   65000
4         7.0         9.0                6   70000
5         3.0         7.0               10   62000
6        10.0         8.0                7   72000
7        11.0         7.0                8   80000

In [14]:
model = linear_model.LinearRegression()
model.fit(df[['experience','test_score','interview_score']],df.salary)

LinearRegression()

In [15]:
model.predict([[12,10,10]])

array([88227.64227642])

In [16]:
model.coef_

array([2813.00813008, 1333.33333333, 2926.82926829])

In [18]:
model.intercept_

11869.91869918695

In [19]:
2813.00813008*12 + 1333.33333333*10 + 2926.82926829*10 + 11869.91869918695

88227.64227634695